body {
    background-image:url(warhammer-40k-characters.jpg) ;
}

/* Header*/
.container {
    margin: 0;
    padding: 0;
}

.navHeader {
    display: flex;
    justify-content: space-around;
}

.navHeaderElement {
    text-shadow: 0.5px 0.5px 0.5px grey;
    margin: 3px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.navHeaderElement:hover {
    color:red;
}

/*Main */
.flexContainer {
   display: flex;
   flex-direction: column;
}

.flexElementH1 {
color:crimson;
font-size: 100px;
align-self: center;
text-shadow: 3px 4px 3px black;
}

.flexElementP {
    width: 1000px;
    align-self: center;
    color:white;
    text-shadow: 3px 3px 3px black;
    font-size: 30px;
}

.flexElementButton {
align-self:center;
margin: 20px 20px;
padding: 20px 20px;
background-color:crimson;
text-shadow: 1px 1px 1px grey;
font-size: 30px;
border-style: double;
border-color: black;
border-width:20px;
cursor: pointer;
}
.flexElementButton:hover {
background:wheat;
color:green;
font-weight: 900;
}
